@{
    ViewData["Title"] = "Creditos";
}

<!-- Banner Section -->
<div class="banner text-center mb-4">
    <img src="/imgs/paris.jpg" alt="JJOO Banner" class="img-fluid rounded" style="max-height: 400px; width: 100%; object-fit: cover;">
    <p>Musho texto</p>
</div>