@{
    ViewData["Title"] = "Creditos";
}

<!-- Banner Section -->
<div class="banner text-center mb-4">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Olympic_flag.jpg" alt="JJOO Banner" class="img-fluid rounded" style="max-height: 400px; width: 100%; object-fit: cover;">
</div>