@{
    ViewData["Title"] = "Deportes - Juegos Olímpicos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p class="text-center">Aqui en los Juegos Olímpicos ofrecemos una variedad de deportes para competir, los cuales demuestran las capacidades fisicas de cada participante en ellos.</p>
    <table class="table table-hover table-bordered caption-top">
        <caption>Deportes</caption>
        <tbody>
            @foreach(Deporte dep in ViewBag.DeportesLista)
            {
                <tr>
                    <th scope="row">@dep.IdDeporte</th>
                    <td colspan="2"><a asp-controller="Home" asp-action="VerDetalleDeporte" asp-route-idDeporte=@dep.IdDeporte>@dep.Foto</a></td>
                    <td><a asp-controller="Home" asp-action="VerDetalleDeporte" asp-route-idDeporte=@dep.IdDeporte>@dep.Nombre</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>